/* Custom styles */

.scrollarea {
    overflow-y: auto;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav>li>a,
.dropdown-item a {
    color: currentColor;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgba(var(--bs-primary-rgb), .2);
    color: currentColor;
}

.note-heading,
.note-placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-last-saved {
    min-width: fit-content;
}

.dropdown-item,
.dropdown-toggle {
    cursor: pointer;
}

.form-auth {
    max-width: 330px;
}

.form-auth .form-floating:focus-within {
    z-index: 2;
}

.form-auth .form-floating input.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-auth .form-floating input.middle {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-auth .form-floating input.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item {
    cursor: pointer;
}

.dvh-100 {
    height: 100dvh;
}

/* Media queries */

@media (max-width: 768px) {
    .nav-link {
        padding: calc(var(--bs-nav-link-padding-y) - 0.4rem) calc(var(--bs-nav-link-padding-x) - 0.6rem);
    }

    #notes {
        height: 50dvh;
    }

    /* TODO */
    .h-md-100 {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 100dvh;
    }
}